{% extends 'core/base.html' %}
{% load static %}


{% block extra_head %}

<style>
    .col{
        border: solid 2px black;
        margin: 10px;
        padding: 5px;
        text-align: center;
    }
</style>

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">title</div>
        <div class="col">setting</div>
    </div>
    
    <form action="" method="GET" class="form-inline">
                
        <input type="text" class="form-control form-control-sm">
        <button type="submit" class="ml-2 btn p-0">
            <i class="fa fa-search"></i>
        </button>
    </form>
      

    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role='alert'>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <h1>you are in home page</h1>
    </div>
    <div class="row">
        <div class="col">
        <form action="{% url 'signout_view' %}" method="post">
            {% csrf_token %}
            <button type="submit">LogOut</button>
            
        </form>
        </div>
    </div>
</div>


{% endblock %}