{% extends 'core/base.html' %}
{% load static %}


{% block extra_head %}

<style>
    .col{
        
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    
    .dropdown-content{
        display: none;
    }
    .dropdown-content a{
        display: block;
        text-decoration: none;
        
    }
    .dropbtn{
        border: none;
        background-color: white;
    }
    .dropdown-content a:hover {background-color: #f1f1f1;}
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background-color: #f5b09c;
    }
    #post-content{
        min-height: 50vh;
        border: solid 1px rgba(0, 0, 0, 0.384);
    }
</style>

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">Instagram</div>
        <div class="col"><i class="fa fa-search"></i></div>
        <div class="col dropdown">
            <button class="dropbtn"><i class="fas fa-cog"></i></button>
            <div class="dropdown-content">
                <a href="{% url 'Profile_view' request.user.username %}">Profile</a>
                <a href="{% url 'Profile_edit_view' request.user.username %}">edit profile</a>
                <a href="#">Chnage password</a>
                <a href="{% url 'signout_view' %}">Logout</a>
            </div>
        </div>
    </div>
      

    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role='alert'>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row" id="post-content">
        
    </div>
    <div class="row">
        <div class="col">
        <form action="{% url 'signout_view' %}" method="post">
            {% csrf_token %}
            <button type="submit">LogOut</button>
            
        </form>
        </div>
    </div>
</div>


{% endblock %}