{% extends 'authentication/base.html' %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <script src="{% static 'js\bootstrap.min.js' %}"></script>
{% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role='alert'>
            {{ message }}
        </div>                        
    {% endfor %}
{% endif %}
<h1>you are in home page</h1>

<p style="text-align: center;">
    <form action="{% url 'signout_view' %}" method="post">
        {% csrf_token %}
        <button type="submit">LogOut</button>
    </form>
</p>


{% endblock %}