{% extends 'authentication/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'maincss\signin.css' %}">
{% endblock %}




{% block content %}




{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role='alert'>
            {{ message }}
        </div>                        
    {% endfor %}
{% endif %}



<div>
    <p style="text-align: center;">SignIn Here</p>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="email_username" class="form-control" placeholder="Username or email"><br>
    <input type="password" name="password" class="form-control" placeholder="password"><br>
    <button type="submit">LogIn</button>
</form>


<a href="{% url 'password_reset' %}">Forgot Password ?</a>
</div>



{% endblock %}